<!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
<div class="header">
    <img class="logo" src="../../../assets/logo.png">
    <div class="search">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"  placeholder="Search Products...">
</div>
<!-- <button class="circle-btn"><i class="material-icons" style="color: #FFF3E2">search</i></button> -->
<!-- <button class="circle-btn" style="margin-left:170px"><i class="material-icons" style="color: #FFF3E2">favorite</i></button> -->
<ul>
    <li><a routerLink="/">Main</a></li>
    <li><a routerLink="/checkout">checkout</a></li>
    <li><a routerLink="/success">success</a></li>
</ul>
</div>