<main class="wrapper" *ngIf="(data | async)?.length != 0">
  <div class="panel__list" *ngFor="let item of (data | async)">
<div class="card">
  <div class="panel__content">
    <img class="card-image " src="{{ item.product.image }}" />
    <div class="panel__content--header item">
      <h2>{{ item.product.title }}</h2>
      <p>Quantity: {{ item.quantity }}</p>
      <p class="price">Price: {{ item.product.price }}</p>
    </div>
   
    <div class="panel__content--action">
    
      <button class="btn__add-to-cart" (click)="removeItemFromCart(item.product) ">Remove</button>
      
    </div>
  </div>
</div>

  </div>
</main>
<main class="wrapper" *ngIf="(data | async)?.length === 0">
  <h2>Your Cart is empty</h2>
  <img  class="img" src="../../../assets//empty.png"/>
  
</main>