.panel img {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.panel__content {
  display: flex;
}
.line{
  box-sizing: border-box;
  border: 1px solid;
  border-color: grey;
}
.panel__content--action {
  display: flex;
  justify-content: right;
 
}



.price {
  font-size: 17px;
  align-self: flex-start;
}

.btn__add-to-cart {
  padding: 0.6em;
  margin: 5px;
  border-radius: 2px;
  background: #E74646;
  color:white;
  font-size: 14px;
  text-decoration: b;
  text-align: center;
  align-self: flex-end;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}