.catalogue{
    width:70%;
    display: flex;
flex-direction: column ;
flex-wrap: wrap ;
justify-content: flex-start;
}

.cart{
    width: 30%;
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap ;
    justify-content: flex-start;
}

.main{
    display: flex;
    flex-direction: row ;
}
