.container{
    background-color: #FFF3E2;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: flex-start;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
     }
   
     .pagination{
        margin-left: 200px;
     }
     .pagination ::ng-deep .ngx-pagination .current {
        background:  #E74646;
        align-content: center;
        
    }