
<form [formGroup]="checkoutForm" class="form">
  <h1>Please enter your personal details.</h1>
  <div class="tab-content tab-group tab-content">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="firstName"
        formControlName="firstName"
        class="form-control"
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="lastName"
        formControlName="lastName"
        class="form-control"
        placeholder="Last Name"
      />
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label>Country</label>
      <input
        type="country"
        formControlName="country"
        class="form-control"
        placeholder="Country"
      />
    </div>
    <div class="form-group">
      <label>Address</label>
      <input
        type="address"
        formControlName="address"
        class="form-control"
        placeholder="Address"
      />
    </div>
    <div class="form-group">
      <label>Zip Code</label>
      <input
        type="zipCode"
        formControlName="zipCode"
        class="form-control"
        placeholder="Zip Code"
      />
    </div>
    <div class="form-group">
      <label>State</label>
      <input
        type="state"
        formControlName="state"
        class="form-control"
        placeholder="State"
      />
    </div>
    <div  >
      <label for="terms">I accept the terms and conditions </label> <input type="checkbox" id="terms" name="terms" class="form-check-input" required >
      
      
    </div>

    <button type="submit" class="btn__submit" routerLink="/success">
      Submit
    </button>

</div>
</form>
