.btn__Home {
    padding: 0.6em;
    margin: 5px;
    border-radius: 2px;
    background: #E74646;
    color:white;
    font-size: 14px;
    text-decoration: b;
    text-align: center;
    align-self: flex-end;
  }
  
  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    margin: auto;
    align-content: center;
  }

  .success{
    align-self: center;
    display: flex;
    width: 400px;
    height:400px;
    margin: auto;
    align-self: center;
    margin: auto;
    align-content: center;
  }

  div{
      align-self: center;
  background-color: antiquewhite;
  margin: auto;
  width: 50%;
  align-self: center;
  margin-top: 70px;
  border-radius: 2%;
  }

.buttons{
  align-self: center;
  display: flex;
}
.notify{
  color:#E74646;
}
  h1 {
    text-align:center;
    color:#E74646;
    font-weight:thin;
    margin:0 0 40px;
    margin: auto;
    align-content: center;
  }