<div *ngIf="(data | async)?.length != 0">
  <mat-card  *ngFor="let item of (data | async)">
    <mat-card-header>
      <img mat-card-sm-image src="{{ item.product.image }}">
      <mat-card-title-group>
        <mat-card-title>{{ item.product.title }}</mat-card-title>
        <mat-card-subtitle>Price: {{ item.product.price }}</mat-card-subtitle>
        <div>
          Quantity: {{ item.quantity }}
          <button (click)="removeItemFromCart(item.product)">Remove</button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>
<div *ngIf="(data | async)?.length === 0">Cart is empty</div>
